<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                ">


    <bean id="fareGenerationService1" class="com.muleinaction.FareGenerationService">
        <constructor-arg>
               <value>airline1</value>
          </constructor-arg>  
    </bean>

    <bean id="fareGenerationService2" class="com.muleinaction.FareGenerationService">
        <constructor-arg>
               <value>airline2</value>
         </constructor-arg>  
    </bean>

    <bean id="fareGenerationService3" class="com.muleinaction.FareGenerationService">
         <constructor-arg>
               <value>airline3</value>
         </constructor-arg>  
    </bean>

</beans>
